

DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"
# DATABASE_URL="file:./dev.db"
JWT_SECRET="TPM_BNCC_nyawit_Activist"
PORT=5500
ADMIN_USERNAME = "BNCC_M4ST3R"
ADMIN_PSW = "V!v4*BnCC43VeRn3vEr$%"
